body {
    font-family : Source Code Pro;
    font-size : 30pt;
}

.content {
    margin : 60pt;
}

.footer {
    margin-right : 20pt;
    text-align : right;
    font-size : 20pt;
}

h1, h2, h3, h4, h5, h6 {
    margin : 0;
    padding : 20pt;
    text-align : center;
    font-size : 40pt;
    border-right : 30pt solid #ddddff;
}
