body {
    font-family : Source Code Pro;
    font-size : 30pt;
    font-color : #444;
}

.content {
    padding : 60pt;
    margin-top : 80pt;
}

.footer {
    margin-right : 20pt;
    font-size : 20pt;
    text-align : right;
}

.header {
    margin : 0;
    padding-top : 30pt;
    padding-bottom : 20pt;
    text-align : center;
    font-weight : bold;
    font-size : 40pt;
    border-right : 30pt solid #ddddff;
}

code {
    background-color : #eee;
    padding: 0.1em 0.2em;
}

pre {
    background-color : #eee;
    padding : 0.2em 0.4em;     /* topbuttom leftright*/
    margin : 0 0.5em;
}
