*.dSYM/
helloworld
helloworld.dSYM
helloworld2
helloworld2.dSYM
eventbox
eventbox.dSYM
frame
frame.dSYM
rangewidgets
rangewidgets.dSYM
notebook
notebook.dSYM
tree-hello
tree-hello.dSYM
scrolledwin
scrolledwin.dSYM
manualmenu
manualmenu.dSYM
upgraded_helloworld
upgraded_helloworld.dSYM
